/*  Blue Theme */
#Blue{
  background-image: url("../resources/Blue.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#Bluetime {
  font-family: "Iosevka Nerd Font Mono";
  font-size: 100px;
  font-weight: bold;
  color: #0047ab;
}

#Blueanimedoro{
  font-family: "Iosevka Nerd Font Mono";
  font-size: 100px;
  font-size: 48px;
  font-weight: bold;
  color: #6495ED;
}

#BluelaCruz{
  font-size: 18px;
  color: #6495ED;
}



#BlueButton {
  background-color: #38f;
  background-image: none;
  color: #fff;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

#BlueButton {
  border-radius: 1584px;
  border-width: 2px;
  padding: 12.8px 48px;
}

#BlueButton:hover {
  background-color: #8cf;
  color: #999;
}

#BlueButton:active {
  background-color: #000;
}

#BlueButton image {
  -gtk-icon-size: 40px;
}

/* Dark Theme */

#Dark{
  background-image: url("../resources/Dark.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#DarkButton {
  background-color: #282828;
  background-image: none;
  color: #fff;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

#DarkButton {
  border-radius: 1584px;
  border-width: 2px;
  padding: 12.8px 48px;
}

#DarkButton:hover {
  background-color: #f88;
  color: #999;
}

#DarkButton:active {
  background-color: #ddd;
}

#DarkButton image {
  -gtk-icon-size: 40px;
}

#Darktime {
  font-family: "Iosevka Nerd Font Mono";
  font-size: 100px;
  font-weight: bold;
  color: #aeaeae;
}

#Darkanimedoro{
  font-family: "Iosevka Nerd Font Mono";
  font-size: 100px;
  font-size: 48px;
  font-weight: bold;
  color: #aeaeae;
}

#DarklaCruz{
  font-size: 18px;
  color: #aeaeae;
}
