name: Release


on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install system dependencies
      run: |
        sudo apt update
        sudo apt install -y \
          build-essential \
          pkg-config \
          libgtk-4-dev \
          libglib2.0-dev \
          libpango1.0-dev \
          libcairo2-dev \
          libgdk-pixbuf-2.0-dev \
          libfuse2 \
          patchelf \
          wget

    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable

    - name: Build release binary
      run: cargo build --release

    - name: Create AppDir structure
      run: |
        mkdir -p AppDir/usr/bin
        mkdir -p AppDir/usr/share/applications

        cp target/release/animedoro AppDir/usr/bin/
        mv AppDir/usr/bin/animedoro AppDir/usr/bin/Animedoro
        cp -r resources AppDir/usr/bin/

    - name: Download linux deploy
      run: |
        wget -c "https://raw.githubusercontent.com/linuxdeploy/linuxdeploy-plugin-gtk/master/linuxdeploy-plugin-gtk.sh"
        wget -c "https://github.com/linuxdeploy/linuxdeploy/releases/download/continuous/linuxdeploy-x86_64.AppImage"
        chmod +x linuxdeploy-x86_64.AppImage linuxdeploy-plugin-gtk.sh

    - name: Build AppImage
      run: |

        ./linuxdeploy-x86_64.AppImage --appdir AppDir --plugin gtk --output appimage=Animedoro.AppImage --icon-file Animedoro.png --desktop-file Animedoro.desktop

    - name: Upload AppImage
      uses: actions/upload-artifact@v4
      with:
        name: Animedoro-AppImage
        path: Animedoro-x86_64.AppImage

